@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table id="customers" class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>Discount Rate</th>
        <th>Delete</th>
    </tr>
    @if (!Model.Any())
    {
        <Text>There are no Customers</Text>
    }
    else
    {
        foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(customer.Name, "Edit", new { id = customer.Id })
                </td>
                <td>@customer.MembershipType.DiscountRate%</td>
                <td>
                    <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }
    }

</table>
@section scripts 
{
    <script>
        $(document).ready(function () {
            $("#customers .js-delete").on("click", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this row?")) {
                    $.ajax({
                        url: "/api/customers/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>
}